body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 90px;
    color: white;
    text-align: center;
}

.outlined-heading {
	-webkit-text-stroke: 1px black;
}

.container {
	background-color: #fff;
	padding: 35px;
    width: 40rem;
	border-radius: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
    margin-left: 29rem;
    margin-top: 3rem;
    font-size: 20px;

}

input[type=text], input[type=password], input[type=tel], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}